/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


body {
	margin: 0;
	padding: 30px;
	font-family:  'Alice', serif;
	font-size: 18px;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
	margin: 0;
}

blockquote {
	font-family: 'Kaushan Script', cursive;
}

/* --------------------------------------------------- */

/* barvy */
:root {
	--svetla: #edf3f5;
	--seda: #b2bec3;
	--tmava: #636e72;
	--oranzova: #ee5a24;
	--cervena: #ea2027;
	--zluta: #f79f1f;
	--zelena: #a3cb38;
	--limetka: #c4e538;
}

/* CSS grid */
.blog {
	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
	gap: 40px;
	max-width: 1200px;
	margin: 0 auto;
}

/* umístění položek do gridu */

.blog header,
.blog h2,
.blog h3,
.blog p {
	grid-column: 2;
	margin: 0;
}

.blog figure,
.blog blockquote {
	grid-column: 1 / -1;
}

.tip-vlevo {
	grid-column: 1;
}

.tip-vpravo {
	grid-column: -2;
}

.blog footer {
	grid-column: 2 / 3;
}

/* formátování obrázků a textu */

.blog img {
	width: 100%;
	object-fit: cover;
}

header h1 {
	font-size: 80px;
	color: var(--zelena);
	margin-bottom: 1em;
}

.meta {
	color: var(--seda);
}

.tip {
	background-color: var(--svetla);
	font-size: 14px;
	color: var(--tmava);
	padding: 20px;
	align-self: start;
}

.tip a {
	color: var(--oranzova);
}

.tip a:visited {
	color: var(--cervena);
}

.tip-vlevo {
	border-right: 2px solid var(--zluta);
	text-align: right;	
}

.tip-vpravo {
	border-left: 2px solid var(--zluta);	
}

.blog figure {
	margin: 0;
}

.blog figcaption {
	color: var(--seda)
}

.blog blockquote {
	margin: 0;
	text-align: center;
	font-size: 35px;
	color: var(--seda);
}

.blog blockquote::before {
	content: "";
	display: block;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--limetka);
	width: 115px;
	height: 2px;
}

.blog blockquote::after {
	content: "";
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--limetka);
	width: 115px;
	height: 2px;
}

.blog h2 {
	font-size: 60px;
	color: var(--zelena);
}

.blog footer {
	font-size: 14px;
	color: var(--seda);
}

footer a {
	color: var(--seda);
}


